*{
  margin: 0;
  padding: 0;
}
table{
  border:0;
  border-collapse:collapse;
  width: 100%;
  text-align: center;
}
.App{
  padding: 20px;
}
.add{
  margin-bottom: 10px;
}
.add>input{
  margin-right:10px;
}
.Import{
  margin: 10px 0;
}

table>thead>tr{
  background: #e9e9e9;
}
.green{
  color:#008000;
}
.green.update{
  background: rgba(0,128,0,0.2);
}
.red{
  color:#ff0000;
}
.red.update{
  background: rgba(255,0,0,0.2);
}
.time.update{
  background: rgba(135,206,250,0.5);
}
.btn{
  width: 50px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color:#fff;
  background: #4aaa4a;
  font-size:12px;
  padding:0 5px;
  display: inline-block;
  cursor: pointer;
}
.blue{
  background: #1890ff;
  margin-left:10px;
}
input{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  background-color: #fff;
}
tfoot tr{
  height: 32px;
}
.tooltip{
  position: relative;
  cursor: pointer;
}
.tooltip::before{
  position: absolute;
    left:50%;
    bottom: 100%;
    content: '';
    border: 6px solid transparent;
    margin-bottom: -1px;
    border-top-color: rgba(17,17,17,.9);
    transform: translate(-50%,10px);
    opacity: 0;
    transition: all .1s ease-out .1s;
}
.tooltip:hover:before{
  opacity: 1;
  transform: translate(-50%,0);
}
.tooltip:hover:after{
  opacity: 1;
  transform: translate(-50%,0);
}
.tooltip::after{
  opacity: 0;
  position: absolute;
  left:50%;
  bottom: 100%;
  margin-bottom: 11px;
  background-color: rgba(17,17,17,.9);
  padding:7px 10px;
  content: attr(data-percentage);
  color:#fff;
  font-size: 12px;
  text-align: center;
  transform: translate(-50%,10px);
  white-space: nowrap;
  border-radius: 4px;
  transition: all .1s ease-out .1s;
}
.handle{
  cursor: grab;
}
.handle:focus{
  color: grabbing;
}
.selected{
  cursor: grabbing;
  /* background: #5f9edf; */
  background: #fff;
}
.ghost{
  opacity: 0;
}
tbody>tr{
  background: #fff;
  height: 32px;
}

table tfoot{
  position: relative;
}
.boardList .board {
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-right:10px;
  text-align: center;
}
.boardList .board .boardName{
  color:#000;
  font-weight: bold;
}
.boardList .board .change{
  font-size: 12px;
}
.boardList .board.green {
  background: rgba(0, 128, 0, 0.2);
}
.boardList .board.red {
  background: rgba(255,0,0,0.2);
}
